USE [master]
GO
/****** Object:  Database [PotholeDetectorApp]    Script Date: 7/2/2024 3:18:24 PM ******/
CREATE DATABASE [PotholeDetectorApp]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PotholeDetectorApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PotholeDetectorApp]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/2/2024 3:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Holes]    Script Date: 7/2/2024 3:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Latitude] [nvarchar](max) NULL,
	[Longitude] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[Img] [nvarchar](max) NULL,
	[DetectDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Holes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Potholes]    Script Date: 7/2/2024 3:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Potholes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Latitude] [nvarchar](max) NULL,
	[Longitude] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[Img] [varbinary](max) NULL,
	[Note] [nvarchar](max) NULL,
	[DetectedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Potholes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Holes] ON 

INSERT [dbo].[Holes] ([Id], [Latitude], [Longitude], [Location], [Img], [DetectDate]) VALUES (1, N'16.0302205', N'108.2525802', N'https://maps.google.com/?q=16.0302205,108.2525802', N'/Content/UploadFiles\20230911211211huhuong3.jpg', CAST(N'2023-09-11 21:12:13.067' AS DateTime))
INSERT [dbo].[Holes] ([Id], [Latitude], [Longitude], [Location], [Img], [DetectDate]) VALUES (2, N'16.0302205', N'108.2525802', N'https://maps.google.com/?q=16.0302205,108.2525802', N'/Content/UploadFiles\20230911212130huhuong3.jpg', CAST(N'2023-09-11 21:21:32.340' AS DateTime))
INSERT [dbo].[Holes] ([Id], [Latitude], [Longitude], [Location], [Img], [DetectDate]) VALUES (3, N'16.0525326', N'108.168804', N'https://maps.google.com/?q=16.0525326,108.168804', N'/Content/UploadFiles\20230913162025huhuong3.jpg', CAST(N'2023-09-13 16:20:26.880' AS DateTime))
SET IDENTITY_INSERT [dbo].[Holes] OFF
ALTER TABLE [dbo].[Potholes] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [DetectedDate]
GO
/****** Object:  StoredProcedure [dbo].[addhole]    Script Date: 7/2/2024 3:18:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addhole]
@lat nvarchar(200),
@long nvarchar(200),
@loc nvarchar(200),
@img nvarchar(200)
as
INSERT INTO [dbo].[Holes]
           ([Latitude]
           ,[Longitude]
           ,[Location]
           ,[Img]
           ,[DetectDate])
     VALUES
           (@lat,@long,@loc,@img,getdate())
GO
USE [master]
GO
