@{
    ViewData["Title"] = "About";
}

<section id="featured" class="featured">
    <div class="container">


        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="~/Home">Trang chủ</a></li>
                    <li>Giới thiệu</li>
                </ol>
                <h2>Giới thiệu</h2>

            </div>
        </section><!-- End Breadcrumbs -->


        <div class="row">
            <div class="col-lg-4">
                <div class="icon-box">
                    <i class="bi bi-card-checklist"></i>
                    <h3><a href="~/home/cause">Mục đích nghiên cứu</a></h3>
                    <p>
                        Tìm hiểu các thiết bị hỗ trợ, thiết bị phát hiện và cảnh báo khi gặp phải các ổ gà từ đó đánh giá phân loại mức độ hư hỏng sau đó lưu dữ liệu
                    </p>
                    <p>
                        Dữ liệu đó sẽ được những cơ quan quản lý, bảo trì đường xem từ đó đưa ra các phương án kịp thời giúp người dân tránh né các tai nạn đáng tiếc.
                    </p>

                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="bi bi-bar-chart"></i>
                    <h3><a href="~/home/cause">Tính mới của đề tài</a></h3>
                    <p>
                        Sử dụng camera để có thể quan sát và đưa ra chẩn đoản về tình trạng của con đường giúp cho người dùng nắm bắt được mức độ hư hại của con đường để có thể đưa ra biện pháp hợp lý, tránh gây tai nạn giao thông.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="bi bi-binoculars"></i>
                    <h3><a href="~/home/cause"> Tính thực tiễn của đề tài</a></h3>
                    <ul>
                        <li>
                            <p>
                                Đề tài có tính thực tiễn cao, dễ dàng áp dụng trên các phương tiện công cộng.
                            </p>
                        </li>
                        <li>
                            <p>
                                Dễ dàng lắp đặt: Việc lắp đặt hệ thống vô cùng dễ dàng; tất cả các module chức năng đều được thiết lập chế độ cắm-và-chạy giúp người dùng dễ thao tác và sử dụng.
                            </p>
                        </li>
                        <li>
                            <p>
                                Chi phí và giá thành thấp.
                            </p>
                        </li>
                        <li>
                            <p>
                                Đặc biệt, người dùng có thể nắm bắt tình trạng của các con đường
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Featured Section -->
