
@{
    ViewData["Title"] = "Vấn đề tai nạn giao thông";
}

<section id="featured" class="featured">
    <div class="container">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="~/Home">Trang chủ</a></li>
                    <li>Giới thiệu</li>
                </ol>
                <h2>Giới thiệu</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <div class="icon-box">
                    <i class="bi bi-card-checklist"></i>
                    <h3><a href="~/home/cause">Vấn nạn ổ gà gây tai nạn giao thông</a></h3>
                    <p>
                        <video width="100%" controls autoplay>
                            <source src="~/video/videoqcy.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </p>
                    
                </div>
            </div>                        
        </div>
    </div>
</section><!-- End Featured Section -->